
:root{
  --color:white;
  --lightenColor:rgb(255 255 255);
  --darkenColor:rgb(211 215 218);
  --darkenThumbColor:white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color:black;

  -webkit-tap-highlight-color: transparent;
}

.App {
  background-color: var(--color);
  height:100%;
  position: relative;
}

.App__main{
  display: flex;
  height:80%;
  flex-flow: row nowrap;
  align-items: center;
}

.flexContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.flexContainer__leftContainer,
.flexContainer__rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainer__leftContainer{
  padding-left:1rem;
  width:40%;
}

.flexContainer__rightContainer{
  width:60%;
  
}

.LeftSubContainer {
  width: 100%;
  height: 100%;
  /* background: rebeccapurple; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LightSourceTop {
  position: absolute;
  width: calc(100%);
  /* background-color: saddlebrown; */
  padding: 0.5rem;
  top: 0;
}



.LightSourceBottom {
  position: absolute;
  width: calc(100%);
  /* background-color: saddlebrown; */
  padding: 0.5rem;
  bottom: 0;
}

.RightSubContainer {
  width: 80%;
}

.LightSource {
  display: flex;
  justify-content: space-between;
}

.SelectColor{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  font-size: 2rem;
}

.SelectColor > span{
  margin-right: 2rem;
  font-size: inherit;
}

.ShowColor {
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 2rem 2rem;
  background: linear-gradient(to right bottom, #DD2476,#FF512F,#ac2fff);
}



@media only screen and (max-width:940px)
{
  *{
    font-size:50%;
  }
}

@media only screen and (max-width:700px){
  .App__main{
    height:90%;
  }

  .flexContainer{
    flex-flow: column nowrap;
    height:100%;
    align-items: center;
  }

  .flexContainer__leftContainer{
    width: 70%;
    height: 100%;
  }

  .flexContainer__rightContainer{
    width: 100%;
    height:100%;
  }

  /* .LeftSubContainer{
    height:15rem;
  } */

  .RightSubContainer{
    width: 100%;
  }

  .SelectColor{
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .ShowColor{
    padding: 1.5rem 1.5rem;
  }
}