* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #ecf0f3;
  height: 100vh;
  position: relative;
}

.flexContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.flexContainer__leftContainer,
.flexContainer__rightContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LeftSubContainer {
  padding: 1rem 2rem;
  width: 400px;
  height: 450px;
  display: flex;
  flex-flow: column nowrap;
}

.LightSourceTop {
  /* flex-grow: 1; */
  height: 5%;
}

.NeumorphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.LightSourceBottom {
  height: 5%;
}

.RightSubContainer {
  width: 80%;
}

.LightSource {
  display: flex;
  justify-content: space-between;
}

.ShowColor {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--color);
  box-shadow: -2px -2px 8px var(--lightenColor), 2px 2px 8px var(--darkenColor);
}

.topLeft{
  background-color: brown;
  padding:1rem;
  padding-top:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}