:root{
  --color:"#ECF0F3";
  --lightenColor:rgb(255 255 255);
  --darkenColor:rgb(211 215 218);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  background-color: #ecf0f3;
  height:100%;
  position: relative;
}

.App__main{
  display: flex;
  height:80%;
  flex-flow: row nowrap;
  align-items: center;
}

.flexContainer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.flexContainer__leftContainer,
.flexContainer__rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainer__leftContainer{
  padding-left:1rem;
  width:40%;
}

.flexContainer__rightContainer{
  width:60%;
}

.LeftSubContainer {
  width: 100%;
  height: 100%;
  /* background: rebeccapurple; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LightSourceTop {
  position: absolute;
  width: calc(100%);
  /* background-color: saddlebrown; */
  padding: 0.5rem;
  top: 0;
}



.LightSourceBottom {
  position: absolute;
  width: calc(100%);
  /* background-color: saddlebrown; */
  padding: 0.5rem;
  bottom: 0;
}

.RightSubContainer {
  width: 80%;
}

.LightSource {
  display: flex;
  justify-content: space-between;
}

.ShowColor {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--color);
  box-shadow: -2px -2px 8px var(--lightenColor), 2px 2px 8px var(--darkenColor);
}



@media only screen and (max-width:940px)
{
  *{
    font-size:50%;
  }
}

@media only screen and (max-width:700px){
  .App__main{
    height:90%;
  }

  .flexContainer{
    flex-flow: column nowrap;
    height:100%;
    align-items: center;
  }

  .flexContainer__leftContainer{
    width: 70%;
    height: 100%;
  }

  .flexContainer__rightContainer{
    width: 100%;
    height:100%;
  }

  /* .LeftSubContainer{
    height:15rem;
  } */

  .RightSubContainer{
    width: 100%;
  }

  .ShowColor {
    font-size: 1.5rem;
    margin: 2rem 0rem;
    margin-left: 2rem;
    padding: .6rem;
    background-color: var(--color);
    box-shadow: -2px -2px 8px var(--lightenColor), 2px 2px 8px var(--darkenColor);
  }
  
}