* {
    box-sizing: border-box;
   
}

.classFor{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    color: rgb(0, 0, 0);
}

label{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}



input[type='range']{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type='range']:focus{
    outline: none;
}
input[type='range']::-webkit-slider-thumb{         
    -webkit-appearance: none;
}

input[type='range']::-moz-range-thumb{
    border: none;
}

.inp{
    width: 100%;
    height: 30px;
    padding: 15px;
    background:   var(--color); 
    border-radius: 10px;
    box-shadow: -2px -2px 8px var(--lightenColor), 2px 2px 8px var(--darkenColor);
    margin-left: 2rem;
}

.inp::-webkit-slider-runnable-track{
    display: flex;
    align-items: center;
    height: 10px;
    border-radius: 10px;
    box-shadow:  inset -2px -2px 8px var(--lightenColor),inset 2px 2px 8px var(--darkenColor);
}

.inp::-webkit-slider-thumb {
    position: relative;
    top: -50%;
    width: 20px;
    height: 20px;
    background-color: var(--darkenThumbColor);
    background-image: linear-gradient(-45deg, rgba(var(--color), 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px var(--lightenColor),1px 1px 2px var(--darkenColor);
}

.inp::-moz-range-thumb{
    position: relative;
    top: 0%;
    width: 20px;
    height: 20px;
    background-color: var(--darkenThumbColor);
    background-image: linear-gradient(-45deg, rgba(var(--color), 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px var(--lightenColor), 1px 1px 2px var(--darkenColor);
}

.inp::-moz-range-track {
    display: flex;
    align-items: center;
    height: 10px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px var(--lightenColor), inset 2px 2px 8px var(--darkenColor);
}

@media only screen and (max-width:700px){

    .inp{
        width: 100%;
        height: 25px;
        padding: 8px;
        background:   var(--color); 
        border-radius: 10px;
        box-shadow: -2px -2px 8px var(--lightenColor), 2px 2px 8px var(--darkenColor);
        margin-left: 1rem;
    }

    .inp::-webkit-slider-runnable-track{
        height: 10px;
    }
    
    .inp::-moz-range-track {
        height: 10px;
    }
    
    
}