* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.codeDisplay_container {
  width: 50rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color:#282828;
  display: flex;
}

span {
  display: block;
  font-size: 1rem;
 
}

.CssProperty{
    display: inline;
    color: #8ae0ff;
}

.CssValue{
    display: inline;
    color: #ffc700;
    font-weight: 600;
}



span::selection {
  text-decoration: none;
}

.Code{
  width:90%;
}
.clipContainer{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  background-color: rgb(136, 135, 135);
}

.clipBoard {
  padding: 0.2rem;
}

.clipBoard:hover {
  cursor: pointer;
}

.clipContainer {
  font-size: 3rem;
}

.Copied{
  background-color: var(--darkenColor);
}

@media only screen and (max-width:940px)
{
  .codeDisplay_container{
    width:100%;
  }

  span{
    font-size:1rem;
  }
}

@media only screen and (max-width:310px) {
  span{
    font-size: .9rem;
  }
}