* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.codeDisplay_container {
  color: black;
  font-size: 7rem;
  width: 50rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color:#282828;
}

span {
  display: block;
  font-size: 1rem;
 
}

.CssProperty{
    display: inline;
    color: #8ae0ff;
}

.CssValue{
    display: inline;
    color: #ffc700;
    font-weight: 600;
}



span::selection {
  text-decoration: none;
}

.clipBoard {
  padding: 0.2rem;
}

.clipBoard:hover {
  cursor: pointer;
}

.clipContainer {
  font-size: 3rem;
  display: flex;
  justify-content: right;
}
