.LightSourceContainer {
  background-color: blue;
  color:var(--color);
  padding:3rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--color);
  box-shadow: -2px -2px 4px var(--lightenColor), 2px 2px 4px var(--darkenColor);

}

.Selected {
  box-shadow:inset -2px -2px 4px var(--lightenColor),inset 2px 2px 4px var(--darkenColor);

}

@media only screen and (max-width:700px){
  .LightSourceContainer{
    padding: 2rem;
  }
}